/*
 * Authors: Cameron Palk and Joel Benner
 * Website: Cognitopia.com
 * Date: April 2015
 */

body {
    margin: 0;
    background-color: #FFFFFF;
    
    font-family:    Source Sans Pro;
    color:          #FFFFFF;
}

/*  Header-Menu Bar: 
    Dimensions: 40px x 100% (Page width)
    Img Src: 
*/
.header {
    background-color: #FFFFFF;
    
    height:     40px;
    width:      100%;
    
    box-sizing:             border-box;
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
    
    border-bottom-color:    #5E7273;
    border-bottom-style:    solid;
    border-bottom-width:    3px;
}


/* ----- Classes ----- */
.center     { text-align: center; }
.large_text { font-size:    20pt; }
.thin_text  { font-weight:   300; }
.unselectable {
    -moz-user-select:       none;
    -webkit-user-select:    none;
    -ms-user-select:        none;
    user-select:            none;
    
    -webkit-user-drag:      none;
    user-drag:              none;
}

.panel {
    padding-top:        30px; 
    padding-bottom:     30px; 
}
.blue_back { 
    background-color:   #3F4F4F; 
    color:              #FFFFFF; 
}
.white_back {
    background-color:   #FFFFFF; 
    color:              #638483; 
}

.vertical_center {
    position:   relative;
    top:        30%;
}

.default_button {
    border:     none;
    outline:    none;
    
    border-radius: 6px;
    
    padding: 5px;
    background-color: #DB6945;
    
    box-shadow: 3px 3px 0px #A85133;
    
    font-family:    Source Sans Pro;
    font-size:      20pt;
    color:          #FFFFFF;
}
    .default_button:active {

    }

.arrow { width: 8%; }

/* ----- Individual Panel Work ----- */
/* Home Page */
#panel_one {
    height:     320px;
    width:      100%;
    
    
}
    #LearnHowButton {
        margin-top: 40px;
    }

#panel_two {
    
}

#panel_three {
    
}